%ul{:class => "messages"}
  - @posts.each do |post|
    %li
      %p
        %strong
          = post.job
        %small
          = post.poster
        = link_to "Read More", post
= link_to "New Company", new_company_path
