%ul{:class => "messages"}
  - @posts.each do |post|
    %li
      %p
        %strong
          = post.job
        %small
          = post.poster
        = link_to "Show", company_job_post_path(post.company_id, post.id)
